@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: 'Gandom', 'Roboto';
}

.right-side {
	height: 80vh;
	padding: 0;
}

.right-side.with-border {
	border: 2px solid #009688;
}

.map-container {
	height: 50vh;
	border-bottom: 2px solid #009688;
	width: 100%;
	background-image: url('../images/map.jpg');
	background-size: cover;
	position: relative;
}

.map-container .full-screen {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #fff;
	width: 28px;
	height: 30px;
}

.map-container .full-screen i {
	font-size: 2em;
	color: #009688;
}

.ip-container {
	border: 2px solid #009688;
	height: 80vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
}

@media (min-width: 768px) {
	.ip-container {
		border-right: none;
	}
}

.numeric {
	font-family: 'DM Mono';
	font-weight: 300;
}

#fullscreen-target.full {
	position: fixed;
	right: 20px;
	left: 20px;
	z-index: 2000;
}

.blur {
	filter : blur(5px);
}

.log-container {
	width: 98.5%;
}

.log-container .alert {
	margin-bottom: 5px;
	margin-left: 12px;
}

.log-btns , .log-alerts {
	height: 29vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 10px;
}

.search-box {
	height: 80vh;
	overflow-y: auto;
}

#config-box {
	display: none;
}

.ip-charts.active {
	color: #aa004e;
	font-weight: bold;
}

/*******************************/
/* Scrollbar */
/*******************************/

/* width */

.scroll-design {
	direction: ltr;
}

.scroll-design > * {
	direction: rtl;
}

.scroll-design::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

/* Track */
.scroll-design::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scroll-design::-webkit-scrollbar-thumb {
  background: #009688;
  border-radius: 10px;
}

.tile.full-tile {
	height: 85vh;
	margin: 0;
}

input[type=range], input[type=number] {
	direction: ltr;
}

/*******************************/
/* Sliders */
/*******************************/

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #009688;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #009688;
  cursor: pointer;
  border-radius: 50%;
}


/*******************************/
/* LED Lights */
/*******************************/

.led {
	width: 18px;
	height: 18px;
	margin: 0 auto;
	border-radius: 50%;
}

.led-red {
  background-color: #F00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.led-green {
    background-color: #abff00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89ff00 0 2px 12px;
}

.led-red.blink {
	-webkit-animation: blinkRed 0.5s infinite;
    -moz-animation: blinkRed 0.5s infinite;
    -ms-animation: blinkRed 0.5s infinite;
    -o-animation: blinkRed 0.5s infinite;
    animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from {
        background-color: #f00;
    }
    50% {
        background-color: #a00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
        background-color: #f00;
    }
}
@-moz-keyframes blinkRed {
    from {
        background-color: #f00;
    }
    50% {
        background-color: #a00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
        background-color: #f00;
    }
}
@-ms-keyframes blinkRed {
    from {
        background-color: #f00;
    }
    50% {
        background-color: #a00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
        background-color: #f00;
    }
}
@-o-keyframes blinkRed {
    from {
        background-color: #f00;
    }
    50% {
        background-color: #a00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
        background-color: #f00;
    }
}
@keyframes blinkRed {
    from {
        background-color: #f00;
    }
    50% {
        background-color: #a00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
        background-color: #f00;
    }
}
