@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: 'Gandom', 'Roboto';
}

.hidden, .sp-colorize-container {
	display: none;
}

.right-side {
	padding: 0;
}


.sp-choose {
	background-color: var(--primary) !important;
}
.sp-choose:hover {
	background-color: #aa004e !important;
}

.right-side.with-border {
	border: 2px solid var(--primary);
}

.map-container {
	border-bottom: 2px solid var(--primary);
	width: 100%;
	background-size: cover;
	position: relative;
	display: flex;
}

.map-container > #map {
	height: 64vh;
	background-size:cover;
}

.full-tile.maximized .map-container > #map {
	width: auto !important;
	max-height: 90vh !important;
}

.map-container .full-screen {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #fff;
	width: 28px;
	height: 30px;
}

.map-container .full-screen i {
	font-size: 2em;
	color: var(--primary);
}

.ip-container {
	border: 2px solid var(--primary);
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
}

.numeric {
	font-family: 'DM Mono';
	font-weight: 300;
}

#fullscreen-target.full {
	position: fixed;
	right: 0px;
	left: 0px;
	top: 0;
	bottom: 0;
	z-index: 2000;
}

.blur {
	filter : blur(20px);
}

.log-container {
	margin: 0;
}

.log-container .alert {
	margin-bottom: 5px;
	margin-left: 12px;
}

.log-btns , .log-alerts {
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 10px;
}

.log-btns .btn {
	display: inline-block;
	margin: 2px;
	width: 95%;
}

.search-box {
	overflow-y: auto;
}

#config-box {
	display: none;
}

.ip-charts.active {
	color: #aa004e;
	font-weight: bold;
}

.row > div {
	padding: 5px;
}

.dropdown-toggle::after {
	margin-left: unset;
	margin-right: 0.255rem;
}

.fixed-header {
	position: relative;
}

.fixed-header thead th {
	background: white;
	position: sticky;
	top: 0;
}

#dragme {
    position:  absolute;
    left: 10px;
    top: 10px;
    width: 120px;
    height: 120px;
    background: rgba(255,255,255,0.66);
    border: 2px  solid var(--primary);
	border-radius: 50%;
	display: flex;
	flex-wrap: wrap;
	z-index: 1040;
}

#dragme > div {
	width: 50%;
	cursor: pointer;
}

#dragme > div:hover {
	background : rgba(255,255,255,0.66);
}

#dragme > div:nth-child(1) {
	border-left: 1px solid var(--primary);
	border-bottom: 1px solid var(--primary);
	border-top-right-radius: 100%;

}

#dragme > div:nth-child(2) {
	border-bottom: 1px solid var(--primary);
	border-top-left-radius: 100%;

}

#dragme > div:nth-child(3) {
	border-left: 1px solid var(--primary);
	border-bottom-right-radius: 100%;
}

#dragme > div:nth-child(4) {
	border-bottom-left-radius: 100%;
}

/*******************************/
/* Themes */
/*******************************/

.set-theme {
	display: inline-flex;
	width: 100px;
	height: 50px;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	border-width: 2px;
	border-style: solid;
}

.set-theme > span {
	display: inline-block;
	width: 40px;
	height: 20px;
	border-radius: 3px;
}

.navbar-light .nav-item .nav-link {
	color: #333 !important;
}

html[theme-type=dark] thead th {
	color: var(--primary);
}


/*******************************/
/* Scrollbar */
/*******************************/

/* width */

.scroll-design {
	direction: ltr;
}

.scroll-design > * {
	direction: rtl;
}

.scroll-design::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
.scroll-design::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scroll-design::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

.tile.full-tile {
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

input[type=range], input[type=number] {
	direction: ltr;
}

.chart-container {
	position: relative;
}

.chart-container > a {
	position: absolute;
	top: 0;
	right: 0;
}

.chart-container > a > i {
	position: relative;
	left: 2px;
}

.app-content {
	padding: 5px;
	margin: 0;
}

.bootstrap-navbar {
	background-color: var(--primary);
}

.bootstrap-navbar .nav-item .nav-link {
	color: #FFF;
}

.dropdown-menu {
	text-align: right;
}

.c-card {
	margin-top: 30px;
	text-align: center;
}
.c-card .card
{
    position:absolute;
    right:5%;
    top:-20px;
    border-radius:3px;
}
.c-card .inside
{

	margin-top: 30px;
}

.modal-full {
	max-width: 95%;
}


/*******************************/
/* DRAW */
/*******************************/

.draw-table .already-set .ip-span {
	cursor: pointer;
}

.draw-table .already-set .ip-span:hover {
	color: var(--primary);
}

.draw-table .already-set .ip-span.active {
	color: var(--primary);
	font-weight: bold;
}

.svg-draw > line {
	stroke: #fff;
	stroke-width:3;
}

#map.draw-mode {
	cursor: crosshair;
}

#map > .new-channels {
	cursor: pointer;
}

.draw-page .map-container {
	position: relative;
	padding-bottom: 5px;
}

.draw-page .log-container {
	justify-content: center;
	align-items: center;
	display: flex;
}

.draw-page .map-container > #map {
	height: 77vh;
}


.draw-page .image-icons > i {
	position: absolute;
	top: 10px;
	left: 10%;
}

.icons-toolbox {
	text-align: center;
	display: flex;
	align-items: center;
}

.draw-page .image-icons > i, .icons-toolbox > i {
	font-size: 40px;
	color: var(--primary);
	margin: 10px;
	cursor: pointer;
}

.draw-page .image-icons > i {
	cursor: all-scroll;
}

#map > path {
	cursor: pointer;
}

/*******************************/
/* Media Queries */
/*******************************/

/* modal */
@media (min-width: 992px) {
	.modal-lg {
	    max-width: 1100px;
	}
}

@media (min-width: 768px) { /*ٍِDESKTOP*/
	.tile.full-tile {
		min-height: 90vh;
	}
	.ip-container {
		height: 88vh;
	}
	.search-box {
		height: 80vh;
	}
	.map-container {
		min-height: 66vh;
	}
	.log-btns , .log-alerts {
		max-height: 20vh;
	}
	.ip-container {
		border-right: none;
	}
}

@media (max-width: 768px) { /*MOBILE*/
	.bootstrap-navbar .nav-item {
		margin: 10px 0;
	}
	.log-btns , .log-alerts, .ip-container {
		height: 40vh;
	}
	.map-container {
		min-height: 200px;
	}
}


/*******************************/
/* Overwrite */
/*******************************/

.modal-header .close {
	margin : -1rem auto -1rem -1rem ;
}

.modal-footer > :not(:last-child) {
	margin-right: unset;
	margin-left: 0.25rem;
}

.tab-pane {
	padding: 10px;
}

/*******************************/
/* Sliders */
/*******************************/

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--primary);
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--primary);
  cursor: pointer;
  border-radius: 50%;
}


/*******************************/
/* LED Lights */
/*******************************/

.led {
	width: 18px;
	height: 18px;
	margin: 0 auto;
	border-radius: 50%;
}

.led-red {
  background-color: #F00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.led-green {
    background-color: #abff00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89ff00 0 2px 12px;
}

.led-red.blink {
	-webkit-animation: blinkRed 0.5s infinite;
    -moz-animation: blinkRed 0.5s infinite;
    -ms-animation: blinkRed 0.5s infinite;
    -o-animation: blinkRed 0.5s infinite;
    animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from {
        background-color: #f00;
    }
    50% {
        background-color: #a00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
        background-color: #f00;
    }
}
@-moz-keyframes blinkRed {
    from {
        background-color: #f00;
    }
    50% {
        background-color: #a00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
        background-color: #f00;
    }
}
@-ms-keyframes blinkRed {
    from {
        background-color: #f00;
    }
    50% {
        background-color: #a00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
        background-color: #f00;
    }
}
@-o-keyframes blinkRed {
    from {
        background-color: #f00;
    }
    50% {
        background-color: #a00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
        background-color: #f00;
    }
}
@keyframes blinkRed {
    from {
        background-color: #f00;
    }
    50% {
        background-color: #a00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
        background-color: #f00;
    }
}

/*******************************/
/* Mobile Switch */
/*******************************/

.switch {
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.mslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 40px;
  height: 20px;
}

.mslider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .mslider {
  background-color: var(--primary);
}

.switch input:focus + .mslider {
  box-shadow: 0 0 1px var(--primary);
}

.switch input:checked + .mslider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded msliders */
.mslider.round {
  border-radius: 34px;
}

.mslider.round:before {
  border-radius: 50%;
}



/*******************************/
/* Data Table */
/*******************************/

.dataTables_filter input {
    margin-right: 10px;
}

.dataTables_length select {
    margin-left: 10px;
}

.dataTables_filter {
    display: flex;
}
.dataTables_filter > label {
    margin-right: auto;
    min-width: 300px;
}

.page-item:first-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

.page-item:last-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}
